<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cuthao-001-site1.ltempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8145.site4now.net:8172/msdeploy.axd?site=cuthao-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>cuthao-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>cuthao-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PPL3Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8010.site4now.net;Initial Catalog=db_aabbd0_login;Persist Security Info=True;User ID=db_aabbd0_login_admin;Password=Thao123456789@" Name="Data Source=SQL8010.site4now.net;Initial Catalog=db_aabbd0_login;Persist Security Info=True;MultipleActiveResultSets=True;User ID=db_aabbd0_login_admin;Password=Thao123456789@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PPl3.Models.PPL3Entities, PPl3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PPL3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8010.site4now.net;Initial Catalog=db_aabbd0_login;Persist Security Info=True;MultipleActiveResultSets=True;User ID=db_aabbd0_login_admin;Password=Thao123456789@"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>