@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.buyticket-btn {
    font-size: 15px;
    color: #fff;
    border: none;
}

.img-buy-btn {
    width: 110px;
    height: auto;
}


/* List */
.list-group-horizontal {
    border: none;
    margin-left: -30px;
    cursor: pointer;
}

.list-group-item {
    border: none;
    border-radius: 0;
}

    .list-group-item:last-child {
        border-right: none;
    }

.list-gr-1 {
    font-size: 14px;
}

.movie-area,
.cinema-corner,
.event-list,
.ticket-price {
    padding: 20px 10px;
}

.list-gr-1 li {
    position: relative;
}

    .list-gr-1 li:hover {
        color: #F26B38;
    }

.sub-list-gr-1 {
    display: none;
    min-width: 200px;
    top: calc(100% + 0.5px);
    left: -35px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    line-height: 2.4;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .movie-area a,
    .sub-list-gr-1 a {
        text-decoration: none;
        color: #000;
    }

.movie-area:hover .movie-status,
.cinema-corner:hover .sub-list-gr-1,
.event-list:hover .sub-list-gr-1,
.ticket-price:hover .sub-list-gr-1 {
    color: #F26B38;
    display: block;
}

.movie-area li:hover a,
.sub-list-gr-1 li:hover a {
    color: #F26B38;
}

.down-btn {
    font-size: 8px;
}

/* Movie-List */
.movie-status {
    display: none;
    padding: 10px 20px;
    min-width: 720px;
    top: calc(100% + 0.5px);
    left: -30px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-list .col-md-3 {
    position: relative;
}

.img-movie {
    padding-bottom: 10px;
    transition: filter 0.3s ease;
}

.ti-ticket {
    font-size: 15px;
}

.movie-list .buy-ticket-btn {
    display: none;
    border: none;
    width: 120px;
    height: 35px;
    background-color: #F26B38;
    color: #fff;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .movie-list .buy-ticket-btn:hover ~ .img-movie,
    .movie-list .img-movie:hover {
        filter: brightness(65%);
    }

        .movie-list .img-movie:hover + .buy-ticket-btn,
        .movie-list .buy-ticket-btn:hover {
            display: block;
        }

    .movie-list .buy-ticket-btn:hover {
        background-color: #f29538;
    }

.search-icon {
    font-size: 14px;
}

.search-btn {
    border: none;
    padding-left: 34px;
    color: #777777;
}

.login-btn {
    font-size: 14px;
    margin-left: -48px;
    color: #777777;
    border: none;
}

    .login-btn:hover {
        cursor: pointer;
        color: #F26B38;
    }
/*container*/

.line-default {
    display: block;
    border-bottom: 6px solid #f4f4f4;
    transform: matrix(1, 0, 0, -1, 0, 0);
}


.choose-area {
    padding-top: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.choose-area-wrapper {
    font-size: 15px;
    margin-left: 9rem;
}

.col-item1,
.col-item2,
.col-item3 {
    background-color: #fff;
    padding: 1rem 0;
}

.col-item2 {
    padding-bottom: 2rem;
}

.navbar-item {
    border-bottom: 2px solid;
}

.content {
    max-width: 56rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.block {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    padding: 2.5rem;
}

.text-center h4 {
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Nunito Sans, sans-serif !important;
}

.text-center p {
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    font-family: Nunito Sans, sans-serif !important;
    font-style: normal;
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
}


.back {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-size: .875rem;
    text-decoration: none;
    --tw-bg-opacity: 1;
    background-color: rgb(245 128 32 / var(--tw-bg-opacity));
    padding-top: .675rem;
    padding-bottom: .75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: .25rem;
    text-align: center;
}

.mail {
    font-size: .875rem;
    font-weight: 400;
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(3 78 162 / var(--tw-text-opacity));
}

.slogan {
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    font-family: Nunito Sans, sans-serif !important;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 3rem;
}
