body {
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.open {
    display: block !important;
}

.close {
    display: none !important;
}

#header {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

    #header .nav {
        display: flex;
        justify-content: space-between;
        margin-top: 17px
    }

.nav_logo {
    cursor: pointer;
}

    .nav_logo .logo_link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        cursor: pointer;
        color: rgb(255, 56, 92);
        margin-top: 5px;
    }

.logo_link i {
    margin-right: 10px;
    font-size: 38px;
}

.logo_link h1 {
    align-self: center;
    font-size: 25px;
    font-weight: 800;
}

.nav_languages {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

    .nav_languages a {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        text-decoration: none;
        padding: 12px;
        border-radius: 20px;
        margin-top: 2px;
    }

        .nav_languages a:hover {
            background-color: rgba( 245, 245, 245, 1 );
        }

    .nav_languages button {
        border: transparent;
        border-radius: 30px;
        background-color: transparent;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
        margin-bottom: 2px;
    }

        .nav_languages button:hover {
            background-color: rgba( 245, 245, 245, 1 );
        }

.nav_login {
    display: flex;
    justify-content: center;
    float: inline-end;
    background-color: transparent;
    border: 1px solid #ccc;
    height: 48px;
    padding: 4px 10px 4px 10px;
    border-radius: 30px;
    margin-top: 5px
}

    .nav_login:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .nav_login button {
        border: transparent;
        background-color: transparent;
        cursor: pointer;
    }

    .nav_login i {
        align-self: center;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav_login button:last-child {
        display: block;
        background-color: rgb(113, 113, 113);
        color: #fff;
        border-radius: 20px;
        margin-right: -4px;
        margin-left: 4px;
    }


.notification_badge {
    position: relative;
    top: -12px;
    right: -12px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}

.nav_login button {
    position: relative;
}

@media screen and (max-width: 768px) {
    .notification_badge {
        top: -5px;
        right: -5px;
    }
}
.nav_menu {
    display: flex !important;
    justify-content: flex-end;
}

.sub_nav {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 55px;
    margin-left: 105px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;
    transition: all 0.6s ease-in-out;
}

.sub_nav_guest.open {
    display: block;
}

/* .sub_nav_guest{
    display: block;
} */

.sub_nav .menu_user {
    width: 180px;
    list-style: none;
    cursor: pointer;
}

.sub_nav li {
    padding: 15px 30px 15px 10px;
    font-size: 14px;
}

    .sub_nav li:hover {
        background-color: rgba( 245, 245, 245, 1 );
    }

    .sub_nav li button {
        font-size: 15px;
        border: transparent;
        background-color: transparent;
        color: rgb(113, 113, 113);
        width: 100%;
        padding-right: 56%;
        cursor: pointer;
    }

    .sub_nav li a {
        text-decoration: none;
        color: rgb(113, 113, 113);
    }

#content {
    margin-top: 50px;
    font-weight: 500;
}

.tool_trip {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.add_hotel button {
    padding: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

    .add_hotel button i {
        font-size: 17px;
        color: #000;
    }

.hotel_container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.img_hotel {
    position: relative;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
}

.infor_hotel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name_hotel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin-left: 15px;
}

    .name_hotel span {
        font-weight: 700;
    }

.date_check p {
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}

.date_check span {
    color: #7c7979;
}

.price span {
    font-weight: 600;
}
.icon_style {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 15px;
}

@media screen and (max-width: 46.1875em){
    .nav_languages{
        display: none !important;
    }
}
