@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.center {
    display: flex !important;
    justify-content: center;
}

.open {
    display: block !important;
}

.active {
    display: flex !important;
}

.close {
    display: none !important;
}

.clicked {
    border: 3px solid #000 !important;
    background-color: rgb(208, 208, 208) !important;
    color: #727171;
}

#content {
    margin-top: 120px;
}

.tittle {
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.notifications_list {
    width: 100%;
}

    .notifications_list li {
        display: flex;
        list-style: none;
        cursor: pointer;
        margin-bottom: 40px;
        padding: 20px;
    }

.logo i {
    padding: 10px;
    background-color: rgb(3, 129, 129);
    border-radius: 100%;
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
    border: 1px solid #ccc;
}

.notification p {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.time span {
    font-size: 15px;
    color: #a7a4a4;
    font-weight: 600;
}

.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

    .remove button {
        border: none;
        background-color: transparent;
        font-size: 17px;
        cursor: pointer;
    }

.notification p a {
    text-decoration: none; 
    color: inherit; 
}
