@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    height: 5000px;
}

#headerProduct{
    /* display: none; */
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #ccc;
}

#headerProduct .nav{
    margin-top: 17px
}

.nav_logo{
    cursor: pointer;
}

.nav_logo .logo_link{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 56, 92);
    margin-top: 5px;
}

.logo_link i{
    margin-right: 10px;
    font-size: 38px;
}

.logo_link h1{
    /* display: none; */
    align-self: center;
    font-size: 25px;
    font-weight: 800;
}

.experience_list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: 353px;
    margin-left: 25%;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.experience_list:hover{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); 
}

.experience_list button{
    border: transparent;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px; 
    cursor: pointer;
    padding: 13px; 
}

.experience_list button:last-child{
    display: block;
    border-radius: 50%;
    padding: 8px 10px;
    color: #fff;
    background-color: rgb(255, 56, 92);
}

.experience_list > button:nth-child(5){
    font-weight: 500;
    color: rgb(113, 113, 113);
}

.experience_list span{
    color: #ccc;
}

.nav_languages{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.nav_languages a{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    margin-top: 2px;
}

.nav_languages a:hover{
    background-color: rgba( 245, 245, 245, 1 );
}

.nav_languages button{
    border: transparent;
    border-radius: 30px;
    background-color: transparent;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    margin-bottom: 2px;
}

.nav_languages button:hover{
    background-color: rgba( 245, 245, 245, 1 );
}

.nav_login{
    display: flex;
    justify-content: center;
    float: inline-end;
    background-color: transparent;
    border: 1px solid #ccc;
    height: 48px;
    padding: 4px 10px 4px 10px;
    border-radius: 30px;
    margin-top: 5px 
}

.nav_login:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.nav_login button{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.nav_login i{
    align-self: center;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav_login button:last-child{
    display: block;
    background-color: rgb(113, 113, 113);
    color: #fff;
    border-radius: 20px;
    padding: 0 4px;
    margin-right: -4px;
    margin-left: 4px;
}

.nav_menuUser{
    display: flex !important;
    justify-content: flex-end;
}

.sub_nav{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 55px;
    margin-left: 105px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3); 
    z-index: 5;
    transition: all 0.6s ease-in-out;
}

.sub_nav_guest.open{
    display: block;
}

/* .sub_nav_guest{
    display: block;
} */

.sub_nav .menu_user{
    width: 180px;
    list-style: none;
    cursor: pointer;
}

.sub_nav li{
    padding: 15px 30px 15px 10px;
    font-size: 14px;
}

.sub_nav li:hover{
    background-color: rgba( 245, 245, 245, 1 );
}

.sub_nav li button{
    font-size: 15px;
    border: transparent;
    background-color: transparent;
    color: rgb(113, 113, 113);
    width: 100%;
    padding-right: 56%;
    cursor: pointer;
}

.sub_nav li a{
    text-decoration: none;
    color: rgb(113, 113, 113);
}

#slider{
    position: relative;
    margin-top: 100px;
}

.container_review{
    position: relative;
}

.name_product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 500;
}

.btn_interact button{
    font-size: 15px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_interact button:hover{
    background-color: rgba( 245, 245, 245, 1 );
}

.btn_interact i{
    margin-right: 5px;
}

.img_product{
    display: flex;
}

.img_product_big{
    width: 60%;
    height: 410px;
    margin-right: 10px;
    border-radius: 10px 0 0 10px;
    background: url("/assets/img/img_product/944b9510-945e-47cd-bd7d-bc1b5b94ba4b.webp") top center /cover no-repeat;
}

.list_img_small{
    width: 20%;
    margin-right: 10px;
}

.img_product_small{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.img_product_1{
    background: url("/assets/img/img_product/2b9983af-5542-42e4-b5a3-2867477b53ae.jpg") top center /cover no-repeat;
}

.img_product_2{
    background: url("/assets/img/img_product/39360fe1-e7dc-4858-b1e1-195ab50f912d.jpg") top center /cover no-repeat;
}

.img_product_3{
    background: url("/assets/img/img_product/87f6662f-1feb-418d-bbe3-cf7079d5495f.webp") top center /cover no-repeat;
    border-radius: 0 10px 0 0;
}

.img_product_4{
    background: url("/assets/img/img_product/df4a61cd-f5f8-42e1-92fe-c7d953b6fabb.webp") top center /cover no-repeat;
    border-radius: 0 0 10px 0;
}

.show_more{
    position: absolute;
    bottom: 5%;
    right: 2%;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.infor_hotel{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

.infor_hotel h1{
    margin-bottom: 8px;
}

.infor_hotel span{
    font-size: 16px;
    color: rgb(34, 34, 34);
}

.infor_hotel p{
    padding: 10px 0 40px 0;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.seller_infor{
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.img_seller{
    background: url("/assets/img/img_profile/8a4ee665-851a-4bef-bfdb-c7422dc4e497.webp") top center /cover no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 30px;
}

.infor{
    padding-top: 6px;
}

.infor span{
    font-weight: 600;
}

.endow_hotel{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.endow_item{
    display: flex;
    padding: 20px 10px;
}

.endow_item i{
    align-self: center;
    font-size: 25px;
    margin-right: 43px
}

.endow_check_in i{
    margin-right: 36px;
}

.endow_item span{
    font-weight: 600;
}

.endow_item p{
    padding-top: 5px;
}

.about_hotel{
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
}
    
.about_container{
    line-height: 1.5rem;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

.about_container span{
    font-weight: 600;
}

.first_about{
    margin-bottom: 50px;
}

.show_more_about button{
    padding: 10px 0;
    border: none;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
}
.show_more_about i{
    margin-left: 5px;
}

.review_bedroom{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.review_bedroom h2{
   padding: 25px 0;
}

.bedroom_container{
    display: flex;
    flex-direction: column;
    width: 60%;
    cursor: pointer;
}

.bedroom_container img{
    /* background: url("/assets/img/bedroom/cbf87f39-ba7f-4ca5-8eae-2e464e3f8646.webp") top center /cover no-repeat; */
    width: 60%;
    height: 60%;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}

.bedroom_container span{
    font-weight: 600;
    padding-bottom: 5px;
}

.place_offer{
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

.place_offer h2{
    margin-bottom: 10px;
}

.offer_container{
    display: flex;
}

.offer_list{
    margin-right: 50px;
    margin-bottom: 50px;
}

.offer_item{
    margin-top: 20px;
}

.offer_item i{
    padding-right: 15px;
    font-size: 25px;
    color: #666464;
}

.offer_item span{
    font-size: 18px;
}

.show_all button{
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.show_all button:hover{
    background-color: #e6e5e5;
}

:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

.date_check{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 0 70px 0;
}

.title{
    margin-bottom: 30px;
}

.light {
    font-family: var(--font-family);
}

.calendar {
    /* height: max-content; */
    width: max-content;
    background-color: var(--bg-main);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    border-radius: 50%;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover{
    background-color: transparent;
    border: 1px solid #000;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div.curr-date{
    background-color: rgb(255, 56, 92);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.pay{
    display: flex;
    justify-content: flex-end;
    position: relative;
    border-radius: 10px;
}

.pay_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 90%;
    margin: 10px 0 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.pay_header{
    padding: 20px;
}

.pay_body{
    padding: 20px;
    width: 100%;
}

.check_in_out{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
}

.check_in_out button{
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: 600;
    text-align: left;
}

.check_item{
    padding: 10px;
}

.check_in{
    border-right: 1px solid #ccc;
}

.check_out span{
    color: #949494;
}

.guest_number{
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.guest_item{
    padding: 10px;
}

.guest_item button{
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: 600;
    text-align: left;
}

.guest_number i{
    align-self: center;
    margin-right: 5px;
}

.pay_footer{
    width: 100%;
    padding: 20px;
}

.pay_footer button{
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(252, 17, 60);
    border: none;
    width: 100%;
    cursor: pointer;
}

.review_yet{
    padding: 50px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.review_yet h2{
    margin-bottom: 20px;
}

.review_yet i{
    font-size:25px;
    margin-right: 10px;
}

.profile_host{
    padding: 50px 0;
}

.infor_host{
    background-color: rgb(240, 239, 233);
    border-radius: 20px;
}

.infor_host_container{
    display: flex;
    position: relative;
    background-color: rgb(240, 239, 233);
    height: 90vh;
    border-radius: 20px;
}

.infor_box{
    display: flex;
    position: relative;
    background-color: #fff;
    padding: 30px;
    margin: 50px 0 0 50px;
    border-radius: 20px;
    box-shadow: 0 0 30px #888787;
}

.meet_your_host{
    margin-bottom: 30px;
}

.name_host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.infor_item img{
    width: 64%;
    height: 58%;
    border-radius: 50%;
}

.logo_security{
    display: flex;
    position: absolute;
    top: 45%;
    left: 40%;
    color: #fff;
    padding: 9px;
    background-color: rgb(213 36 68);
    border-radius: 50%;
}

.detail_item{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.detail_host{
    width: 38%;
}

.detail_host p{
    font-size: 20px;
    font-weight: 700;
}

.detail_host span{
    font-size: 12px;
    font-weight: 500;
}

.sub_infor{
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: justify;
    width: 380px;
    margin-top: 45px;
}

.sub_infor_item{
    margin-bottom: 20px;
}

.icon1 i{
    margin-left: 5px;
}

.sub_infor_item i{
    font-size: 30px;
    margin-right: 20px;
}

.sub_infor_review p{
    margin-top: 55px;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.show_more_review button{
    margin-top: 15px;
    font-size: 18px;
}
