.rollover:hover .rollover-first {
    max-height: 0px !important;
    display: none !important;
}

.rollover:hover .rollover-second {
    max-height: none !important;
    display: block !important;
}

.rollover span {
    font-size: 0px;
}

u + .body img ~ div div {
    display: none;
}

#outlook a {
    padding: 0;
}

span.MsoHyperlink,
span.MsoHyperlinkFollowed {
    color: inherit;
    mso-style-priority: 99;
}

a.es-button {
    mso-style-priority: 100 !important;
    text-decoration: none !important;
}

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

.es-desk-hidden {
    display: none;
    float: left;
    overflow: hidden;
    width: 0;
    max-height: 0;
    line-height: 0;
    mso-hide: all;
}

.es-button-border:hover > a.es-button {
    color: #ffffff !important;
}

@media only screen and (max-width:600px) {
    .es-m-p10b {
        padding-bottom: 10px !important
    }

    .es-m-p0 {
        padding: 0px !important
    }

    .es-m-p35b {
        padding-bottom: 35px !important
    }

    *[class="gmail-fix"] {
        display: none !important
    }

    p, a {
        line-height: 150% !important
    }

    h1, h1 a {
        line-height: 120% !important
    }

    h2, h2 a {
        line-height: 120% !important
    }

    h3, h3 a {
        line-height: 120% !important
    }

    h4, h4 a {
        line-height: 120% !important
    }

    h5, h5 a {
        line-height: 120% !important
    }

    h6, h6 a {
        line-height: 120% !important
    }

    h1 {
        font-size: 30px !important;
        text-align: left
    }

    h2 {
        font-size: 24px !important;
        text-align: left
    }

    h3 {
        font-size: 20px !important;
        text-align: left
    }

    h4 {
        font-size: 24px !important;
        text-align: left
    }

    h5 {
        font-size: 20px !important;
        text-align: left
    }

    h6 {
        font-size: 16px !important;
        text-align: left
    }

    .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a {
        font-size: 30px !important
    }

    .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a {
        font-size: 24px !important
    }

    .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a {
        font-size: 20px !important
    }

    .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a {
        font-size: 24px !important
    }

    .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a {
        font-size: 20px !important
    }

    .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a {
        font-size: 16px !important
    }

    .es-menu td a {
        font-size: 14px !important
    }

    .es-header-body p, .es-header-body a {
        font-size: 14px !important
    }

    .es-content-body p, .es-content-body a {
        font-size: 14px !important
    }

    .es-footer-body p, .es-footer-body a {
        font-size: 14px !important
    }

    .es-infoblock p, .es-infoblock a {
        font-size: 12px !important
    }

    .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 {
        text-align: center !important
    }

    .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 {
        text-align: right !important
    }

    .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 {
        text-align: justify !important
    }

    .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 {
        text-align: left !important
    }

        .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img {
            display: inline !important
        }

        .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second {
            display: inline !important
        }

        .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span {
            line-height: 0 !important;
            font-size: 0 !important
        }

    .es-spacer {
        display: inline-table
    }

    a.es-button, button.es-button {
        font-size: 18px !important;
        line-height: 120% !important
    }

    a.es-button, button.es-button, .es-button-border {
        display: inline-block !important
    }

    .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button {
        display: block !important
    }

    .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu {
        display: inline-block !important
    }

    .es-adaptive table, .es-left, .es-right {
        width: 100% !important
    }

    .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header {
        width: 100% !important;
        max-width: 600px !important
    }

    .adapt-img {
        width: 100% !important;
        height: auto !important
    }

    .es-mobile-hidden, .es-hidden {
        display: none !important
    }

    .es-desk-hidden {
        width: auto !important;
        overflow: visible !important;
        float: none !important;
        max-height: inherit !important;
        line-height: inherit !important
    }

    tr.es-desk-hidden {
        display: table-row !important
    }

    table.es-desk-hidden {
        display: table !important
    }

    td.es-desk-menu-hidden {
        display: table-cell !important
    }

    .es-menu td {
        width: 1% !important
    }

    table.es-table-not-adapt, .esd-block-html table {
        width: auto !important
    }

    .es-social td {
        padding-bottom: 10px
    }

    .h-auto {
        height: auto !important
    }

    .img-6577 {
        width: 258px !important
    }

    .es-text-2610, .es-text-2610 p, .es-text-2610 a, .es-text-2610 h1, .es-text-2610 h2, .es-text-2610 h3, .es-text-2610 h4, .es-text-2610 h5, .es-text-2610 h6, .es-text-2610 ul, .es-text-2610 ol, .es-text-2610 li, .es-text-2610 span, .es-text-2610 sup, .es-text-2610 sub, .es-text-2610 u, .es-text-2610 b, .es-text-2610 strong, .es-text-2610 em, .es-text-2610 i {
        font-size: 20px !important
    }

    .es-text-2889, .es-text-2889 p, .es-text-2889 a, .es-text-2889 h1, .es-text-2889 h2, .es-text-2889 h3, .es-text-2889 h4, .es-text-2889 h5, .es-text-2889 h6, .es-text-2889 ul, .es-text-2889 ol, .es-text-2889 li, .es-text-2889 span, .es-text-2889 sup, .es-text-2889 sub, .es-text-2889 u, .es-text-2889 b, .es-text-2889 strong, .es-text-2889 em, .es-text-2889 i {
        font-size: 24px !important
    }

    .es-text-2630, .es-text-2630 p, .es-text-2630 a, .es-text-2630 h1, .es-text-2630 h2, .es-text-2630 h3, .es-text-2630 h4, .es-text-2630 h5, .es-text-2630 h6, .es-text-2630 ul, .es-text-2630 ol, .es-text-2630 li, .es-text-2630 span, .es-text-2630 sup, .es-text-2630 sub, .es-text-2630 u, .es-text-2630 b, .es-text-2630 strong, .es-text-2630 em, .es-text-2630 i {
        font-size: 18px !important
    }
}

@media screen and (max-width:384px) {
    .mail-message-content {
        width: 414px !important
    }
}
