@{
    ViewBag.Title = "Login";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T|.|n|.|T</title>
    <link rel="icon" href="https://seeklogo.com/images/A/airbnb-logo-1D03C48906-seeklogo.com.png">
    <link href="~/ExtraFiles/assets/css/book_room.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/gird.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/style_v1.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/seller_profile.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/Sign_Log_v1.css?v=1" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
</head>
<body>
    <div id="body_sign_log" class="open">
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form method="post" action="/user/homeUser/SignUp">
                    <h1>Create Account</h1>
                    @*<div class="social-icons">
                            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>*@
                    <span class="content">or use your email for registeration</span>
                    <input type="text" required placeholder="Account Name" name="account_name">
                    <input type="email" required placeholder="Email" name="email_address">
                    @Html.ValidationMessage("Gmail", new { @class = "error-message" })
                    <input type="password" required placeholder="Password" name="user_password">
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <form method="post" action="/user/homeUser/login">
                    <h1>Sign In</h1>
                    @*<div class="social-icons">
                            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>*@
                    <span>or use your email password</span>
                    <input type="email" required placeholder="Email" name="email_address">
                    @Html.ValidationMessage("CheckGmail", new { @class = "error-message" })
                    <input type="password" required placeholder="Password" name="user_password">
                    @Html.ValidationMessage("Password", new { @class = "error-message" })
                    <a href="#">Forget Your Password?</a>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details to use all of site features</p>
                        <button class="hidden" id="login">Sign In</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>Register with your personal details to use all of site features</p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/ExtraFiles/JS/first_header.js?v=1"></script>
    <script src="~/ExtraFiles/JS/imgSlide.js?v=1"></script>
    <script src="~/ExtraFiles/JS/main_v1.js?v=1"></script>
    <script src="~/ExtraFiles/JS/room_classifi_v1.js?v=1"></script>>
    <script src="~/ExtraFiles/JS/seller_profile.js?v=1"></script>
    <script src="~/ExtraFiles/JS/Sign_Log_v1.js?v=1"></script>
</body>
</html>
