
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Hotel</title>
    <link rel="icon" href="https://seeklogo.com/images/A/airbnb-logo-1D03C48906-seeklogo.com.png">
    <link href="~/ExtraFiles/assets/css/gird.css" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/hotel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="main">
        <div id="header">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-12 m-12 c-12">
                        <div class="header_container">
                            <div class="logo">
                                <a href="index.html"><i class="fa-brands fa-think-peaks" style="color: #000;"></i></a>
                            </div>
                            <div class="save_btn">
                                <button>Save & Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div id="page_1" class="open">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-6 m-6 c-12">
                                <div class="instruct_container">
                                    <div class="instruct">
                                        <span>Step 1</span>
                                        <h1>Tell us about your place</h1>
                                        <p>In this step, we'll ask you which type of property you have and if guests will book the entire place or just a room. Then let us know the location and how many guests can stay.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-o-1 l-4 m-6 c-12">
                                <div class="video">
                                    <video id="myVideo-1" muted autoplay playsinline>
                                       
                                        <source src="~/ExtraFiles/assets/video_3d/zFaydEaihX6LP01x8TSCl76WHblb01Z01RrFELxyCXoNek.mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_2">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Which of these best describes your place?</h1>
                                </div>
                                <div class="list_place">
                                    <div class="place_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-10.png">
                                            <p>House</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-20.png">
                                            <p>Aparment</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-30.png">
                                            <p>Cabin</p>
                                        </button>
                                    </div>
                                    <div class="place_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-40.png">
                                            <p>Farm</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-50.png">
                                            <p>Tiny Home</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-60.png">
                                            <p>Houseboat</p>
                                        </button>
                                    </div>
                                    <div class="place_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-10.png">
                                            <p>House</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-20.png">
                                            <p>Aparment</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-30.png">
                                            <p>Cabin</p>
                                        </button>
                                    </div>
                                    <div class="place_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-10.png">
                                            <p>House</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-20.png">
                                            <p>Aparment</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-30.png">
                                            <p>Cabin</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_3">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>What type of place will guests have?</h1>
                                </div>
                                <div class="list_type_of">
                                    <div class="type_of_item">
                                        <button>
                                            <div class="text">
                                                <span>An entire place</span>
                                                <p>Guests have the whole place to themsevles.</p>
                                            </div>
                                            <div class="icon">
                                                <img src="~/ExtraFiles/assets/Image/image-130.png">
                                            </div>
                                        </button>
                                    </div>

                                    <div class="type_of_item">
                                        <button>
                                            <div class="text">
                                                <span>A room</span>
                                                <p>Guests have their own room in a home, plus access to shared spaces.</p>
                                            </div>
                                            <div class="icon">
                                                <img src="~/ExtraFiles/assets/Image/image-140.png">
                                            </div>
                                        </button>
                                    </div>

                                    <div class="type_of_item">
                                        <button>
                                            <div class="text">
                                                <span>A shared room</span>
                                                <p>
                                                    Guests sleep in a room or common area that may be shared with you or
                                                    others.
                                                </p>
                                            </div>
                                            <div class="icon">
                                                <img src="~/ExtraFiles/assets/Image/image-150.png">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_4">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Where's your place located?</h1>
                                    <p>Your address is only shared with guests after they’ve made a reservation.</p>
                                </div>
                                <div class="input_list first_input">
                                    <input type="text" placeholder="Country/region">
                                    <input type="text" placeholder="Street address">
                                    <input type="text" placeholder="Apt, Floor, BLDG(if applicable)">
                                    <input type="text" placeholder="City/Town/Village">
                                    <input type="text" placeholder="Province/State/Territory(if applicable)">
                                    <input type="text" placeholder="Postal Code(if applicable)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_5">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-6 m-6 c-12">
                                <div class="instruct_container">
                                    <div class="instruct">
                                        <span>Step 2</span>
                                        <h1>Make your place stand out</h1>
                                        <p>In this step, you’ll add some of the amenities your place offers, plus 5 or more photos. Then, you’ll create a title and description.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-o-1 l-4 m-6 c-12">
                                <div class="video">
                                    <video id="myVideo-5" muted autoplay playsinline>
                                        <source src="~/ExtraFiles/assets/video_3d/H0101WTUG2qWbyFhy02jlOggSkpsM9H02VOWN52g02oxhDVM.mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_6">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Share some basics about your place</h1>
                                    <p>You'll add more details later, like bed types.</p>
                                </div>

                                <div class="quantity_list">
                                    <div class="quantity_item guest">
                                        <h3>Guests</h3>
                                        <div class="quantity_guest">
                                            <button class="minus_btn minus_guest_btn"><i class="fa-solid fa-minus"></i></button>
                                            <span class="number_guest">0</span>
                                            <button class="plus_btn plus_guest_btn"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="quantity_item bedrooms">
                                        <h3>Bedrooms</h3>
                                        <div class="quantity_guest">
                                            <button class="minus_btn minus_bedrooms_btn"><i class="fa-solid fa-minus"></i></button>
                                            <span class="number_bedrooms">0</span>
                                            <button class="plus_btn plus_bedrooms_btn"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="quantity_item beds">
                                        <h3>Beds</h3>
                                        <div class="quantity_guest">
                                            <button class="minus_btn minus_beds_btn"><i class="fa-solid fa-minus"></i></button>
                                            <span class="number_beds">0</span>
                                            <button class="plus_btn plus_beds_btn"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="quantity_item bathrooms">
                                        <h3>Bathrooms</h3>
                                        <div class="quantity_guest">
                                            <button class="minus_btn minus_bathrooms_btn"><i class="fa-solid fa-minus"></i></button>
                                            <span class="number_bathrooms">0</span>
                                            <button class="plus_btn plus_bathrooms_btn"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_7">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Tell guests what your place has to offer</h1>
                                    <p>You can add more amenities after you publish your listing.</p>
                                </div>
                                <div class="list_offer">
                                    <div class="offer_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-110.png">
                                            <p>Wifi</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-120.png">
                                            <p>TV</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-130.png">
                                            <p>Kitchen</p>
                                        </button>
                                    </div>
                                    <div class="offer_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-140.png">
                                            <p>Washer</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/button-151.png">
                                            <p>Free parking on premises</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-160.png">
                                            <p>Paid parking on premises</p>
                                        </button>
                                    </div>
                                    <div class="offer_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/button-171.png">
                                            <p>Air conditioning</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-180.png">
                                            <p>Dedicated workspace</p>
                                        </button>
                                        <button style="border: none;">
                                        </button>
                                    </div>
                                </div>
                                <div class="tittle">
                                    <h1>Do you have any standout amenities?</h1>
                                </div>
                                <div class="amenities_list">
                                    <div class="amenities_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-210.png">
                                            <p>Pool</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-220.png">
                                            <p>Hot tub</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-230.png">
                                            <p>Patio</p>
                                        </button>
                                    </div>
                                    <div class="amenities_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-240.png">
                                            <p>BBQ grill</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-250.png">
                                            <p>Outdoor dining area</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-260.png">
                                            <p>Fire pit</p>
                                        </button>
                                    </div>
                                    <div class="amenities_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-270.png">
                                            <p>Pool table</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-280.png">
                                            <p>Indoor fireplace</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-290.png">
                                            <p>Piano</p>
                                        </button>
                                    </div>
                                    <div class="amenities_item">
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-300.png">
                                            <p>Exercise equipment</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-310.png">
                                            <p>Lake access</p>
                                        </button>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-320.png">
                                            <p>Beach access</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_8">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Now, let's give your house a title</h1>
                                    <p>Short titles work best. Have fun with it—you can always change it later.</p>
                                </div>
                                <div class="input_about">
                                    <textarea name="" id="" cols="" rows="10"></textarea>
                                </div>
                                <div class="tittle">
                                    <h1>Next, let's describe your house</h1>
                                    <p>Choose up to 2 highlights. We'll use these to get your description started.</p>
                                </div>
                                <ul class="highlights_list">
                                    <li>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-330.png">
                                            <p>Peacefull</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-340.png">
                                            <p>Unique</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-360.png">
                                            <p>Stylish</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-370.png">
                                            <p>Central</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-380.png">
                                            <p>Spacious</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <img src="~/ExtraFiles/assets/Image/image-390.png">
                                            <p>Family-friendly</p>
                                        </button>
                                    </li>
                                </ul>
                                <div class="tittle">
                                    <h1>Create your description</h1>
                                    <p>Share what makes your place special.</p>
                                </div>
                                <div class="input_about">
                                    <textarea name="" id="" cols="" rows="10" placeholder="Reconnect with loved ones in this family-friendly place."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_9">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-6 m-6 c-12">
                                <div class="instruct_container">
                                    <div class="instruct">
                                        <span>Step 3</span>
                                        <h1>Finish up and publish</h1>
                                        <p>Finally, you'll choose booking settings, set up pricing, and publish your listing.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-o-1 l-4 m-6 c-12">
                                <div class="video">
                                    <video id="myVideo-9" muted autoplay playsinline preload="auto">
                                        <source src="~/ExtraFiles/assets/video_3d/KeNKUpa01dRaT5g00SSBV95FqXYkqf01DJdzn01F1aT00vCI.mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_10">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Decide how you’ll confirm reservations</h1>
                                </div>
                                <div class="confirm_list">
                                    <div class="confirm_item">
                                        <button>
                                            <div class="text">
                                                <span>Use Instant Book</span>
                                                <p>Guests can book automatically.</p>
                                            </div>
                                            <div class="icon">
                                                <img src="~/ExtraFiles/assets/Image/image-button-110.png">
                                            </div>
                                        </button>
                                    </div>

                                    <div class="confirm_item">
                                        <button>
                                            <div class="text">
                                                <span>Approve or decline requests</span>
                                                <p>Guests must ask if they can book.</p>
                                            </div>
                                            <div class="icon">
                                                <img src="~/ExtraFiles/assets/Image/image-button-120.png">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_11">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Set your price</h1>
                                    <p>You can change it anytime.</p>
                                </div>
                                <div class="price">
                                    <img src="~/ExtraFiles/assets/Image/image-420.png">
                                    <span class="_10">10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="page_12">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="page_container">
                            <div class="col l-7 m-12 c-12">
                                <div class="tittle">
                                    <h1>Add discounts</h1>
                                    <p>Help your place stand out to get booked faster and earn your first reviews.</p>
                                </div>
                                <div class="discounts_list">
                                    <div class="discounts_item">
                                        <div class="number">
                                            <p>20%</p>
                                        </div>
                                        <div class="condition">
                                            <span>New listing promotion</span>
                                            <span>Offer 20% off your first 3 bookings</span>
                                        </div>
                                    </div>
                                    <div class="discounts_item">
                                        <div class="number">
                                            <p class="_102">20%</p>
                                        </div>
                                        <div class="condition">
                                            <span>New listing promotion</span>
                                            <span>Offer 20% off your first 3 bookings</span>
                                        </div>
                                    </div>
                                    <div class="discounts_item">
                                        <div class="number">
                                            <p class="_102">20%</p>
                                        </div>
                                        <div class="condition">
                                            <span>Monthly discount</span>
                                            <span>For stays of 28 nights or more</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-4 m-4 c-4 ">
                        <div class="bar">
                            <div class="bg-black bg-black_step_1">

                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-4">
                        <div class="bar">
                            <div class="bg-black bg-black_step_2">

                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-4">
                        <div class="bar">
                            <div class="bg-black bg-black_step_3">

                            </div>
                        </div>
                    </div>
                    <div class="col l-12 m-12 c-12">
                        <div class="list_btn">
                            <div class="back_btn">
                                <button>Back</button>
                            </div>
                            <div class="next_btn">
                                <button>Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ExtraFiles/JS/hotel.js"></script>
</body>
</html>
