@model PPl3.Controllers.MyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@{
    int index = 0;
}
@section Menu {
    <div class="sub_nav sub_nav_guest js_sub_nav_guest">
        <ul class="menu_user js_menu_user">
            <li class="js_signUp_btn">
                <button>
                    <a href="/user/homeuser/login">Sign In</a>
                </button>
            </li>
            <li class="js_logIn_btn">
                <button>
                    <a href="/user/homeuser/signup">Sign Up</a>
                </button>
            </li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Airbnb your home</a></li>
            <li><a href="#">Help Center</a></li>
        </ul>
    </div>
}
@section ListMainAmenity {
    @foreach (var item in Model.Model1Data)
    {
        if (item.amenity_status == 1)
        {
            <div class="room_classifi_item room_classifi_item_@item.id" >
                <div class="box_room_classifi">
                    <img src="@item.icon_image" />
                    <span>@item.amenity_name</span>
                </div>
            </div>
        }
    }
}